.form-table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
}

#form_submission_ajax {
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.error {
    color: #ff0000;
}
